body {
    margin: o;
    padding: 0;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

nav > a:first-of-type {
    flex-grow: 1;
}

.rectangle1 {
    position: fixed;
    z-index: -1;
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
}

.rectangle2 {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: -300%;
    right: -300%;
    background-color: #E5FF16;
    transform: translateY(50%);
}
  
/*Logo*/
nav img { 
    justify-content: flex-start;
    width: 100px;
}

nav > a:not(:first-of-type) {
    padding: 5px 50px;
    border-radius: 50px;
    background-color: #C99EED;
    color: #333;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

/* Hero Sections */

  .helloCircle {
    padding: 5px 100px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 70px;
    left: 75%;
}

#heroSection h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #333333;
}

#heroSection h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #333333;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#heroSection p {
    flex-shrink: 0;
    color: #333333;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}


#heroSection img {
    max-width: 1440px;
    height: auto;
    margin-top: 10px;
    position: relative; 
    z-index: -2;
}

.Herotext {
    width: 736px;
    height: 324px;
    position: absolute;
    z-index: 1;
    top: 10%; 
    left: 2%;
    transform: translateY(10%);
}

/* Case Study Card Section */

.container1 .container2 {
    display: flex;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 20px;
    width: 100%
  }
  
  .card {
    text-align: center;
    padding: 10px;
    width: 33%
  }
  
  .card h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    line-height: normal;
    color: #333333;
  }
  
  .card p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: #333333;
    line-height: normal;
    margin: 0;
  }
  
  .card button {
    display: inline-flex;
    height: 53px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #333;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px #00000014;
    transform: translateY(75%);
  }
  
  .card img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(35%);
  }
  
  #BCKUnited, #Carry-on, #Edgov, #hikingApp, #DVApp, #Portfolio {
    width: 430px;
    height: 500px;
    flex-shrink: 0;
  }
  
  #BCKUnited {
    background: linear-gradient(180deg, #EDEDED 0%, #F9F9F9 41.4%);
  }
  
  #Carry-on {
    background: #F9F9F9;
  }
  
  #Edgov {
    background: linear-gradient(180deg, #EDEDED 0%, #F9F9F9 41.4%);
  }

  #HikingApp {
    background: #F9F9F9;
  }
  
  #DVApp{
    background: linear-gradient(180deg, #EDEDED 0%, #F9F9F9 41.4%);
  }
  
  #Portfolio {
    background: #F9F9F9;
  }
/* BCK Highlight Section */

#BCKHighlight {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
  }
  
  #BCKHighlight h1,
  #BCKHighlight h2 {
    position: relative;
    z-index: 0;
    margin: 0;
    text-align: center; /* Add text-align center to override the parent setting */
  }
  
  #BCKHighlight h1 {
    top: -40%;
    font-size: 64px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    line-height: normal;
    color: #333333;
    display: flex;
    justify-content: center;
    transform: translateX(75%);
  }
  
  #BCKHighlight h2 {
    top: -32%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: #333333;
    line-height: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-35%);
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  
  #BCKHighlight img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
  }
  
  /* From Print to Web Section */
  
  #FromPrintToWeb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9DDD7;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-shrink: 0;
  }
  
  .textbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #333333;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .textbox-container h2 {
    text-align: left;
    margin: 0;
  }

/* Grid Gallery Section Constructed using CSS Flex */   

#categoryGrid {
    margin: 0px 10%;
    display: grid;
    padding: 4px;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:  
        "edGov edGov typesetting wireframe wireframe"
        "edGov edGov sign deboss deboss"
        "letterpress letterpress BCKiphone deboss deboss";
}
      
     #edGov {
        grid-area: edGov;
        background-image: url("ipad ed.gov gallery.png");
      
      }
      #typesetting {
        grid-area: typesetting;
        background-image: url("typesetting.png");
      }
      
      #wireframe {
        grid-area: wireframe;
        background-image: url("Ed.gov iphone mock up HOME.png");
      }
      
      #sign {
        grid-area: sign;
        background-image: url("signage.png");
      }
      
      #deboss {
        grid-area: deboss;
        background-image: url("blind emboss.png");
      }
      
      #letterpress {
        grid-area: letterpress;
        background-image: url("letterpress\ copy.png");
      }

      #BCKiphone {
        grid-area: BCKiphone;
        background-image: url("BCK Mockup iphone.png");
      }

      .categoryGridArea {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        cursor: pointer;
        display: grid;
        align-content: end;
      }

      /* Footer */

      footer {
        position: relative;
        z-index: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 40px;
        max-width: 1400px;
        margin: 0 auto;
      }
      
      footer > a:first-of-type {
        flex-grow: 1;
      }
      
      .rectanglefooter {
        position: absolute;
        z-index: -2;
        height: 100%;
        left: -300%;
        right: -300%;
        background-color: #e5ff16;
      }
      
      footer img {
        justify-content: flex-start;
        width: 100px;
      }
      
    footer > a:not(:first-of-type) {
        padding: 5px 50px;
        border-radius: 50px;
        background-color: #c99eed;
        color: #333333;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: none;
      }

      @media only screen and (max-width: 600) {

        .container1 .container2 {
          display: flex;
          display: grid;
          flex-direction: column;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
          grid-area: repeat(auto-fit, minmax(430px, 1fr));
          grid-row: repeat(auto-fit, minmax(430px, 1fr));
          gap: 20px;
          width: 100%;
        }
      
        #categoryGrid {
          margin: 0px 10%;
          display: grid;
          padding: 4px;
          grid-template-rows: 300px 300px 300px;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas:  
              "edGov edGov typesetting wireframe wireframe"
              "edGov edGov sign deboss deboss"
              "letterpress letterpress BCKiphone deboss deboss";
        }
      
        .categoryGridArea {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin: 5px;
          cursor: pointer;
          display: grid;
          align-content: end;
        }
      }